  <% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>